@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css');
body{
    background-color: #0B0C10 !important;
    color: #fff !important;
    font-family: "Montserrat", sans-serif !important;
    height: 100vh;
    position: relative;
}
a:focus{
    color: inherit !important;
}
.containr-fluid{
    padding-top: 40px; 
    margin-top: -10px; 
    background-color: #0B0C10;
}
h3{
    font-size: 35px !important;
    font-weight: 900 !important;
    text-align: center;
}
h4{
    font-size: 24px !important;
    font-weight: 900 !important;
    text-align: center;
    line-height: 37px !important;
}
h5{
    font-size: 17px !important;
    font-weight: 700 !important;
}
.toast{
    opacity: 1 !important;
    max-width: 600px !important;
    margin-right: 20px;
    background-color: transparent !important;
}
.toast:not(:last-child) {
    margin-bottom: 0rem !important;
}
.toast-header{
    background-color: #1F2833 !important;
    color: #66FCF1 !important;
    padding: 10px 15px !important;
    border-bottom: none !important;
}
.toast-body{
    background-color: #1F2833;
    border-bottom-left-radius: 10px;
}
.toast-body span{
    width: 300px !important;
    display: block;
    white-space: wrap;
}
.text_primary{
    color: #66FCF1;
}
.normal_text{
    text-align: left;
    background-color: #1F2833;
    border-left: 4px solid #66FCF1;
    font-size: 13px;
    font-weight: 600 !important;
    padding: 15px 10px;
}
.sub-text{
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 20px;
}
.tornament_container{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 15px;
}
.tournament_box{
    min-width: 155px;
    max-width: 180px;
}
.tournament_img{
    width: 100%;
    height: 150px;
}
.tournament_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.tournament_name{
    font-weight: 600;
    font-size: 13px;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 15px;
    text-align: center;
}

.join_mid_section h5{
    text-align: center;
    margin-top: 20px;
}
.join_mid_section a{
    width: 80%;
    display: block;
    padding: 15px;
    background-color: #66FCF1;
    color: #000;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
}

.fixed-top{
    position: absolute !important;
}
.bg-warning{
    font-weight: 800;
    color: #000;
    border-radius: 10px;
}

.navbar-toggler{
    border: none !important;
}
.navbar-brand{
    font-weight: 700;
}
.header{
    padding: 15px;
    height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, #00000015 76%, #0B0C10 97%),url('./Assets/_games/_img/pubg2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.header p{
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}
.header .d-flex{
    justify-content: center;
}
.header a{
    width: 80%;
    display: block;
    padding: 15px;
    background-color: #66FCF1;
    color: #000;
    text-align: center;
    font-size: 16px;
    font-weight: 900;
    border-radius: 10px;
}
.header .login a{
    background-color: #000 !important;
    color: #66FCF1 !important;
}
.containr-fluid section{
    padding-left: 20px;
    padding-right: 20px;
}
iframe{
    height: 700px;
    width: 100%;
    border: none !important;
}
#gameContainer .img_box{
    width: 150px;
    height: 150px;
}
#gameContainer .img_box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
marquee{
    margin-top: 15px;
}
marquee .img_box{
    width: 150px;
    height: 150px;
    margin-left: 20px;
}
marquee .img_box img{
    width: 100%;
    min-width: 150px;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.h_t_w{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
}
.h_t_w_box{
    padding: 20px;
    position: relative;
    background-color: #1F2833;
    border-radius: 20px;
    margin-bottom: 15px;
    transform: rotateY(90deg);
    opacity: 0;
    transition: all 0.8s ease;
}
.h_t_w_box.show {
    transform: rotateY(0deg);
    opacity: 1;
  }
.h_t_w_box span{
    position: absolute;
    top: 15px;
    right: 20px;
    font-weight: 900;
}
.h_t_w_box img{
    margin-bottom: 18px;
    width: 20px;
    float: right;
}
.h_t_w_box h5{
    font-size: 14px;
}
.h_t_w_box p{
    text-align: left;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 0px;
}
.players_response_box{
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    display: flex;
}
.players_response_box::-webkit-scrollbar{
    display: none;
}
.faq_{
    margin-top: 60px;
}
.faq_ h4{
    text-align: left !important;
    font-size: 18px !important;
}
.faq_ p{
    text-align: left !important;
    margin-bottom: 10px;
    font-weight: 600 !important;
}
.card{
    border: none !important;
    background-color: transparent !important;
}
.card-header {
    padding: .75rem 0px 5px!important;
    margin-bottom: 0;
    background-color: #0B0C10 !important;
    color: #fff !important;
    border-bottom: none !important;
}
.card-header a{
    color: #fff;
    font-weight: 500;
    font-size: 13px;
}
.card .collapse{
    border: none !important;
}
.card-body{
    background-color: #0B0C10;
    color: #fff;
    padding: 0px 0px 10px!important;
    font-size: 13px;
    font-weight: 600;
}
footer{
    margin-top: 20px;
    padding: 15px;
}
footer h4{
    text-align: left !important;
    font-size: 20px !important;
}
footer p{
    font-weight: 800;
    font-size: 11px;
    color: #ccc;
    margin-bottom: 5px;
    text-align: left;
}
footer ._social{
    margin-top: 30px;
}
footer ._social a{
    font-size: 20px;
}
footer ._links{
    margin-top: 15px;
}
footer ._links li{
    list-style: none;
    margin-bottom: 7px;
}
footer a{
    font-weight: 600;
    font-size: 13px;
    color: #fff !important;
    margin-right: 10px;
}

/* Animation effect */
.normal_text {
  opacity: 0;
  transform: translateX(0);
  transition: all 0.8s ease;
}

.normal_text.slide-left {
  transform: translateX(-50px);
}

.normal_text.slide-right {
  transform: translateX(50px);
}

.normal_text.slide-bottom {
  transform: translateY(50px);
}

.normal_text.show {
  opacity: 1;
  transform: translateX(0) translateY(0);
}
